@import url("https://fonts.cdnfonts.com/css/public-pixel");
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 15px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

body {
  font-family: "Public Pixel", sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #333333;
}
body main div#sprite-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 99%;
  height: 58%;
  background-image: url("../imgs/bg.webp");
  background-size: cover;
  background-position: bottom;
}
body main div#sprite-section section#ally-side {
  position: relative;
  width: 49%;
  height: 97%;
  display: flex;
  flex-direction: column;
}
body main div#sprite-section section#ally-side div#ally-hud {
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
}
body main div#sprite-section section#ally-side div#ally-hud div.pv {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
body main div#sprite-section section#ally-side div#ally-hud div.pv div.health {
  display: flex;
}
body main div#sprite-section section#ally-side div#ally-hud div.pv div.health img#health-hearth {
  width: 20px;
  margin-right: 5px;
  animation: pulse 1s infinite;
}
body main div#sprite-section section#ally-side div#ally-hud div.pv div#mana {
  display: flex;
}
body main div#sprite-section section#ally-side div#ally-hud div.pv div#mana img {
  width: 20px;
  margin-right: 5px;
  animation: shake 1.5s infinite;
}
body main div#sprite-section section#ally-side div#ally-hud div#status {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div#sprite-section section#ally-side div#ally-hud div#status ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
}
body main div#sprite-section section#ally-side div#ally-hud div#status ul p {
  font-size: 14px;
  color: white;
}
body main div#sprite-section section#ally-side div#perso1 {
  position: absolute;
  left: 30%;
  bottom: -45px;
  height: 400px;
  width: 500px;
  background-image: url("../imgs/perso1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 95%;
  animation: bounce-player-1 1.5s infinite;
}
body main div#sprite-section section#ally-side div#perso1.victory {
  animation: slide-out 3.5s 1.5s forwards;
}
body main div#sprite-section section#ally-side div#perso1.takeDamage {
  animation: take-damage 1s;
}
body main div#sprite-section section#ally-side div#perso1.arrive-perso1 {
  animation: slide-in-perso-1 5s;
}
body main div#sprite-section section#enemy-side {
  position: relative;
  width: 49%;
  height: 97%;
  display: flex;
  flex-direction: column;
}
body main div#sprite-section section#enemy-side div#enemy-hud {
  width: 40%;
  height: 50px;
  margin-top: 10px;
  margin-left: 28.5vw;
  display: flex;
  align-items: center;
  justify-content: right;
  border: 2px solid white;
  border-radius: 5px;
}
body main div#sprite-section section#enemy-side div#enemy-hud div.pv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
body main div#sprite-section section#enemy-side div#enemy-hud div.pv div.health {
  display: flex;
}
body main div#sprite-section section#enemy-side div#enemy-hud div.pv div.health img#health-hearth {
  width: 20px;
  margin-right: 5px;
  animation: pulse 1s infinite;
}
body main div#sprite-section section#enemy-side div#perso2 {
  position: absolute;
  left: 30%;
  bottom: -135px;
  width: 500px;
  height: 650px;
  background-image: url("../imgs/perso2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 95%;
  animation: bounce-player-2 1.5s infinite;
}
body main div#sprite-section section#enemy-side div#perso2.die {
  animation: die-player-2 3s forwards;
}
body main div#sprite-section section#enemy-side div#perso2.takeDamage {
  animation: take-damage 1s;
}
body main div#hud {
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  align-items: center;
  width: 99%;
  height: 38%;
  background-color: #494949;
  border-radius: 10px;
  border: 2px dashed white;
}
body main div#hud section#hud-logs {
  width: 69%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5s;
}
body main div#hud section#hud-logs.full-screen {
  width: 100%;
}
body main div#hud section#hud-logs h1 {
  margin: -10px 0 10px 0;
  text-align: center;
}
body main div#hud section#hud-logs ul {
  width: 95%;
  height: 80%;
  list-style: square;
  overflow: scroll;
  overflow-x: hidden;
}
body main div#hud section#hud-logs ul::-webkit-scrollbar {
  width: 5px;
}
body main div#hud section#hud-logs ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
body main div#hud section#hud-logs ul::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}
body main div#hud section#hud-logs ul li p {
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  color: white;
}
body main div#hud section#hud-menu {
  width: 29%;
  height: 96%;
}
body main div#hud section#hud-menu.hidden {
  width: 0;
  display: none;
}
body main div#hud section#hud-menu h1 {
  margin: 10px;
  text-align: center;
}
body main div#hud section#hud-menu ul {
  width: 100%;
  height: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}
body main div#hud section#hud-menu ul li button {
  padding: 20px;
  background-color: #333333;
  color: white;
  font-family: "Public Pixel", sans-serif;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  transition: all ease 0.5s;
}
body main div#hud section#hud-menu ul li button.disabled, body main div#hud section#hud-menu ul li button.disabled:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.1176470588);
  border: none;
}
body main div#hud section#hud-menu ul li button:hover {
  background-color: #636363;
  border: 2px dashed white;
}

@keyframes slide-in-perso-1 {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes slide-in-perso-2 {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(770%);
    display: none;
  }
}
@keyframes bounce-player-1 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bounce-player-2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes die-player-2 {
  0% {
    transform: rotate(0deg) translateX(0);
    opacity: 1;
  }
  50% {
    transform: rotate(90deg) translateX(90px);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg) translateX(90px);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  35% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes take-damage {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */